/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

/*Timer Style*/

.container {
  margin: 0 auto;
}

.date-input-button-wrapper {
  display: flex;

  gap: 8px;
}

.date-input {
  padding-left: 5px;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  outline: none;
  border: 1px solid #808080;
  border-radius: 4px;
  color: #2e2f42;
}

.date-input:hover {
  border: 1px solid #000000;
}

.date-input:focus {
  border: 1px solid #4e75ff;
}

.date-input:disabled {
  border: 1px solid #808080;
  color: #808080;
}

.start-button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  background: #4e75ff;
  outline: none;
  border: none;
  color: #ffffff;
}

.start-button:hover {
  background: #6c8cff;
}

.start-button:disabled {
  background: #cfcfcf;
  color: #989898;
}

.timer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 24px;
}

.value {
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 1.6px;
  color: #2e2f42;
}

.label {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #2e2f42;
}
.field {
  display: flex;
  flex-direction: column;
}

/*Snackbar*/

.form {
  margin: 0 auto;
}

.form-delay {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
}

.delay-input {
  width: 358px;
  height: 40px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #808080;
  padding: 0px;
}

.delay-input:hover {
  border: 1px solid #000000;
}

.delay-input:focus {
  border: 1px solid #4e75ff;
}

.form-fieldset {
  padding: 0px;
  margin: 0px;
  margin-top: 16px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 356px;
  height: 64px;
  border-radius: 4px;
  stroke-width: 1px;
  stroke: #808080;
}

.state-radio-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 48px;
  width: 264px;
  height: 32px;
}

.form-button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  outline: none;
  border: none;
  background: #4e75ff;
  color: #ffffff;
  margin-top: 24px;
}

.form-button:hover {
  background: #6c8cff;
}
